h4{
    text-align:center;
    font-size: 36px; 
    display:inline;
    margin: 80px;
}
.game-container{
    display:grid;
    grid-template-columns: repeat(3,auto);
    width: 465px;
    color: midnightblue;
    background-color:aquamarine;
}
.cell{
    background-color:lightskyblue;
    width: 150px;
    height: 150px;
    border: solid;
    font-size: 64px;
    cursor: pointer;
}
button1{
    display:inline-block;
    width: 100px;
    height: 72px;
    font-size: 60px;
}