h1{
    display:table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    color:blue;
    font-family:Georgia;
    font-size: 96px;
    background-color: lightgrey;
}
h4{
    font-size: 96px;
    text-align: center;
}
.button1{
    color: white;
    background-color: tomato;
    width: 200px;
    height: 100px;
    border-radius: 20px;
    font-size:24px;
    transition-duration: 0.4s;
}
.button1:hover{
    color:black;
    background-color:LemonChiffon;
}