#container{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
#user-box{
    float:left;
    padding: 10px;
    background-color: slategray;
    border-width: 3px;
    border-style: solid;
    border-color: black;
}
button{
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color: bisque;
    margin-bottom: 0%;
    margin-left: 5px;
    border-radius: 10px;
    box-shadow: 3px 3px black;
}
img{
    background-color: transparent;
    width: 100%;
    height: 100%;
}

#scores-box{
    float:left;
    vertical-align:middle;
    margin:auto;
    padding: 20px;
    margin-top: 100px;
    margin-left: 20px;
    background: radial-gradient(chocolate,saddlebrown,black);
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
.score{
    
    padding-top: 100px;
    float:left;
    margin:10px;
    display: inline-block;
    font-size: 48px;
    padding:10px;
    text-align: center;
    vertical-align: middle;
    width: 60px;
    background-color: wheat;
    border-radius: 25px;
    font-weight: bold;
}

#computer-box{
    clear:left;
    padding: 10px;
}
#message{
    margin-left: 40px;
    vertical-align:middle;
    display: inline-block;
    font-size: 48px;  
    padding-bottom: 100px;
}